
<!-- 
<%= test = @text.text.split


    array = []
      @text.words.map do |word|
      array << word.value
    end



    testarray = test.each do |test|
        array.each do |word|
          if test == word
            test.gsub!(word, "<span class='highlight'>"+ word + "</span>")
          end
        end
    end
 %> -->


<div class="col-md-6">
  <h1>Select words you don't know</h1>

  <div class="text"><span><%= @text.text%></span></div>


  <%= form_for [@text, @word]  do |f| %>
      <%= f.text_area :value, style: 'display:none'%>
      <%= f.submit "Create" %>
  <% end %>
</div>


<div class="col-md-6">

  <h1>Unknown Words</h1>
  <ul id="unknown-words">
    <% @text.words.each do |word| %>
      <li><%= word.value %></li>
    <% end %>
  </ul>

</div>
