
<div class="col-md-6 offset-md-3">
<h1 clas="text-center">Add a new text</h1>

<%= form_for @text, class: "form-group" do |f|%>
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>

    <%= f.label :text %>
    <%= f.text_area :text, class: "form-control" %>

    <%= f.label :language %>
    <%= f.select(:language_id, [['English', 1], ['Dutch', 2], ['French', 3]], class:"form-control") %>

    <%= f.submit "Create" , class: "btn btn-primary"%>
<% end %>
</div>
